<!-- form gia to create kai to edit tou comment -->
<!-- otan kanw submit, i forma ginetai clear me ton stimulus controller reset_form -->
<%= form_with(model: [post, comment], remote: true, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>  <!-- remote true gia na kanw sumbit me enter -->
  <% if comment.errors.any? %>  <!-- sto edit, emfanizw ta error messages ean kati paei strava. sto create, deixnw error flash message mesw tou comments controller -->
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--  pernaw to parent_id, ean yparxei-->
  
  <% if !parent.nil? %>
    <div class="field">
      <%= form.hidden_field :parent_id, value: "#{parent.id}" %>
    </div>
  <% end %>
  

  <div class="d-flex align-items-center">
    <%= form.text_field :body, placeholder: "Leave a reply", autocomplete: 'off', class: "form-control" %>
    <%= form.submit  class: "btn btn-sm comment-new-btn shadow-none ms-1" %>
  </div>
  <!-- mono sto edit, to emfanizw gia na mporw na kanw replace to frame ean thelw na akyrwsw to edit -->
  <%#= link_to "Cancel Edit", comment, class: "btn btn-sm btn-link bi bi-x shadow-none" if form.object.persisted? %>
<% end %>