<div class="card p-2 mt-2"> <!-- form partial gia ta post -->
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs"> <!-- rich text field -->
    <%= f.rich_text_area :body , placeholder: "What are you thinking?",  autofocus: true %>
  </div>

  <div class="form-actions mt-2 float-end">
    <%# if @post.persisted? %>
      <%#= link_to "Cancel Edit", post, class: "me-2" %> <!-- to emfanizw mono otan kanw edit ena post, wste na kanw cancel an den epithumw na to allaksw -->
    <%# else %>
      <%#= link_to "Cancel", posts_path, class: "me-2" %>  <!-- cancel button gia tin new post form -->
    <%# end %>
    <%= f.button :submit, class: "btn submit-post-form shadow-none" %>
  </div>
<% end %>
</div>
