<!-- to post partial pou ginetai broadcast otan se kathe create h update enos post-->
<%= turbo_frame_tag dom_id(post) do %>
  <div class="card border p-1 mt-2">
    <div class="d-flex flex-row justify-content-between align-items-center p-2">
      <div class="d-flex flex-row align-items-center feed-text">
        <%= render partial: 'posts/post_avatar', locals: { post: post } %>
        <div class="d-flex flex-column flex-wrap ms-2">
          <div class="d-flex align-items-center">
            <span class="fw-bold"><%= link_to post.user.username, user_path(post.user.username), target: "_top", class: 'username-color' %></span>
            <span class="ms-2 dot"> </span>
            <span class="ms-2 text-muted">#<%= post.id %></span>
          </div>
          <span class="text-black-50 time">
            <%= post.updated_at.strftime("%H:%M %A, %B %e, %Y") %>
          </span>
        </div>
      </div>
      <div class="d-flex ms-auto">  <!-- otan kanw broadcast create h update ena post pou periexei embed tweet, gia kapoio logo den metatrepetai to blockquote se iframe kai to tweet den emfanizetai swsta ektos an kanw full page refresh -->
        <%= link_to post, class: 'btn shadow-none' do %> <!-- epeidh thelw ta post an emfanizontai se real time, gia na mhn anagkazw ton xrhsth na kanei full page refresh gia na dei to tweet -->
          <i class="fa-solid fa-arrow-rotate-right reload-frame"></i> <!-- emfanizw ena reload icon wste enas user na mporei na kanei reload to frame pou periexei ena post -->
        <% end %> <!-- otan o user kanei reload to frame, to tweet emfanizetai swsta -->
      </div>
      <div class="d-flex d-none"
        data-controller='check-author'
        data-check-author-author-id-value='<%= post.user.id %>' >
        <div class="dropdown">
          <button type="button" class="btn shadow-none dropdown" data-bs-toggle="dropdown">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <!-- EDIT BUTTON -->
            <%= link_to edit_post_path(post), class: 'dropdown-item btn shadow-none bi bi-pencil-fill', data: { turbo_frame: dom_id(post) } do %>
              <span class="ms-2">Edit Post</span>
            <% end %>
            <!-- DELETE BUTTON-->
            <% if action_name == 'show' && controller_name == 'posts' %> <!-- otan eimai sto show tou post, thelw otan diagrafetai to post na kanw redirect sto index me ola ta post, gi auto den thelw na kanw destroy as turbo_stream alla as HTML -->
              <%= link_to polymorphic_path(post, format: :html), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item btn btn-danger bi bi-trash3-fill' do %>
                <span class="ms-2">Delete Post</span>
              <% end %>
            <% else %> <!-- se kathe allh periptwsh den thelw na kanw redirect ton user poy kanei delete  opote kanw destroy as turbo_stream -->
              <%= button_to  post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item btn btn-danger' do %>  
                <i class="bi bi-trash3-fill"></i> <span class="ms-2">Delete Post</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- TRUNCATE POST BODY -->
    <div class="p-1 border-bottom" data-controller="link-new-tab">
      <div data-controller="read-more" data-read-more-lines-value="3"
          data-read-more-hide-class="hide"
          data-read-more-truncate-class="line-clamp"
          data-action="resize@window->read-more#render">
        <div data-read-more-target="content">
          <%= post.body %>
        </div>
        <button class="btn btn-link shadow-none hide p-0 more-btn" role="button" tabindex=0 data-read-more-target="moreButton" data-action="read-more#showMore">
          Show more
        </button>
        <button class="btn btn-link shadow-none hide p-0 more-btn" role="button" tabindex=0 data-read-more-target="lessButton" data-action="read-more#showLess">
          Show less
        </button>
      </div>
    </div>
    <div class="d-flex mt-1 ms-auto">
      <!-- pernaw to static true wste h like_label na kanei broadcast to icon pou deixnei oti o user den exei kanei like sto post , otan kanw broadcast create ena neo post -->
      <!-- gia to broadcast update otan ginetai edit ena post, epeidh den mporw na xrhsimopoihsw to current_user se partial,
          tha emfanizei panta to like_icon( pou deixnei oti o user den exei kanei like), akoma kai stous users pou exoun kanei hdh like -->
      <!-- den exw vrei akomh kapoio tropo poy na mporw na elegxw an oi users stous opoious ginetai broadcast to udpate exoun kanei like sto post 
          opote pros stigmhs mporw na mhn kanw katholou broadcast update stous upoloipous users, kai na kanw live update mono ston current user pou kanei to edit, me turbo_stream.update ston controller. -->
      <%= render 'posts/likes_link', post: post, static: true %>
      
      <%= link_to post, target: "_top", class: "btn shadow-none comments-btn" do %>
        <i class="bi bi-chat"></i>
        <!-- live-update tou comment count -->
        <span id='<%= dom_id(post)%>_comments_counter' class="comment-count">
          <%= post.comments_count %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>