<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- check_current_user_controller.js elegxos gia current user -->
    <meta name="current-user-id" content="<%= current_user&.id %>">
    <meta name="current-user-role" content="<%= current_user&.role %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- turbo -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <!-- thelw ta mhnymata tou current user na emfanizontai mono gi auton stin deksia meria tou chat kai na exoun mple xrwma -->
    <!-- opote otan ginetai render to partial gia kathe chat message _message.html.erb, allazw to styling gia ton current_user -->
    <!-- to kanw me auto ton tropo, giati den mporw na kalesw to global current_user mesa se partial pou to kanw turbo broadcast -->
    <style>
      <%= ".message-container-user-#{current_user&.id}"%> {
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5rem!important;
      }
      <%= ".message-user-#{current_user&.id}"%> {
        /*background-color: #007bff !important;*/
        background-color: #165b8b !important;
      }
    </style>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %> <!-- kanw render to navbar -->
    <%#= Time.zone.now %> <!-- gia na elegxw oti den ginetai full page redirect otan kanw broadcast h turbo stream actions -->

    <div id="flash" class="flash">
      <%= render 'shared/flash' %> <!-- edw kanw render ta flash messages -->
    </div>

    <%= yield %>
  </body>
</html>
